%div{"data-role" => "header"}
  %h1= "Search Results for #{params['search_string']}"
-@artists.each_pair do |artist, songs|
  %div{"data-role" => "collapsible", "data-collapsed" => "true"}
    %h3= artist
    %ul{"data-role" => "listview"}
      -songs.each do |song|
        %li
          %a{:href=>"/songs/#{song.id}/play?song_artist=#{CGI.escape(song.artist)}&song_album=#{CGI.escape(song.album)}&song_name=#{CGI.escape(song.name)}"}=song.name
